body {
    background-color: #fffcfd;
}

.header {
    background-color: #3a4664;
    color: white;
}

.header a {
    color: #fffcfd;
    text-decoration: none;
}

.header a:hover {
    color: white;
}

td.description {
    border: 5px solid;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}

.bottom {
    color: white;
    background-color: #3a4664;
}

input#name:hover,
input#email:hover,
input#name:focus,
input#email:focus,
textarea:hover,
textarea:focus {
    background-color: white;
    border: 1px solid black;
}

div#intro {
    background-image: url("../images/header.png");
    background-size: cover;
    border: 2px hidden black;
    border-bottom-color: black;
}

.submit {
    background-color: #ffbbbe;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    display: block;
    width: 60px;
    height: 35px;
}

div#constitution {
    border: 5px solid;
    border-color: #e66912 #9e3a14 #016367 #0b1c48;
    border-radius: 5px;
}