body {
    background-color: #fffcfd;
}

.header {
    background-color: #fffcfd;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: #ee3e80;
}

td {
    border: 5px solid;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}

.bottom {
    color: black;
}

input#name:hover,
input#email:hover,
input#name:focus,
input#email:focus,
textarea:hover,
textarea:focus {
    background-color: white;
    border: 1px solid black;
}

h1 {
    background-color: #ffbbbe;
    width: 100%;
}

.submit {
    background-color: #ffbbbe;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    display: block;
    width: 60px;
    height: 35px;
}