body {
    background-color: #fffcfd;
}

.header {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

td {
    border: 5px solid;
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}