html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

div.block {
    margin-top: 20px;
    margin-bottom: 30px;
}

img {
    margin: 0;
    padding: 0;
}

.header a.navlink {
    margin-right: 20px;
}

.other {
    margin-left: 0;
}

td {
    text-align: center;
    padding: 15px;
    width: 600px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

tr {
    padding: 0;
}

table {
    margin-top: 0;
}

.bottom {
    bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    width: 100%;
}

h1,
h2,
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

div.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    display: inline-block;
    left: 0;
}

div#intro {
    padding-top: 120px;
    padding-bottom: 80px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: inline-block;
}

table.options {
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

td.description {
    padding: 30px;
    padding-bottom: 40px;
}

.button a {
    text-align: center;
}

#calendar {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

input#email,
input#name,
textarea {
    background: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: block;
    padding: 5px 5px 5px 5px;
}

div#a_one {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div.contact {
    margin-bottom: 30px;
}

div#disclaimer {
    margin-top: 100px;
    margin-bottom: 20px;
}

span.links {
    float: right;
    width: auto;
    padding: 15px;
}

span#main {
    margin: 5px 5px 5px 5px;
}

div.body_about,
div.signups {
    margin-top: 80px;
}

div#constitution {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 150px 30px 150px;
    width: 800px;
}

table.tutors {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-bottom: 20px;
}

div#meet {
    margin-top: 60px;
}

table.signups {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
    width: 75%;
}

td.signups {
    padding: 30px;
}

div#map {
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1080px;
}

div#one {
    padding-top: 40px;
    width: 480px;
}

div#one h2,
div#one h3 {
    text-align: center;
}

div#promotion {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 900px;
}

div#two {
    padding-left: 10px;
    padding-top: 100px;
}

div.with_photo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    max-width: 400px;
}

div.tutors_about {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

img.profile {
    border-radius: 50%;
}

img.decorator {
    border-radius: 15px;
}

div.courses_body {
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
}

div#kodingkids {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 15px;
}

div#kodingpro {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 15px;
}