html,
body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

div.block {
    margin-top: 20px;
}

.header a.navlink {
    margin-right: 20px;
}

.other {
    margin-left: 0;
}

td {
    text-align: center;
    padding: 15px;
    width: 600px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

tr {
    padding: 0;
}

table {
    margin-top: 0;
}

.bottom {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    width: 100%;
}

h1,
h2,
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
}

div.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    display: inline-block;
    left: 0;
}

div#intro {
    padding-top: 120px;
    padding-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: inline-block;
}

table.options {
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button a {
    text-align: center;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

input#email,
input#name,
textarea {
    background: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: block;
    padding: 5px 5px 5px 5px;
}

div#a_one {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div#disclaimer {
    margin-top: 100px;
    margin-bottom: 20px;
}

span.links {
    float: right;
    width: auto;
    padding: 15px;
}

span#main {
    margin: 5px 5px 5px 5px;
}

div.body_about {
    margin-top: 80px;
}

div#constitution {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 150px 30px 150px;
    width: 800px;
}

table.tutors {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div#meet {
    margin-top: 30px;
}