.header a {
    margin-top: 10px;
    margin-right: 20px;
}

.other {
    margin-left: 0;
}

td {
    text-align: center;
    padding: 15px;
    width: 600px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.bottom {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    width: 100%;
}

h1,
h2,
p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-top: 40px;
}

table {
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 15px 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.button a {
    text-align: center;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

input#email,
input#name,
textarea {
    background: transparent;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    display: block;
    padding: 5px 5px 5px 5px;
}

.submit {
    padding: 15px, 30px;
    background-color: #ffbbbe;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    display: block;
    width: 60px;
    height: 35px;
}